<h1><%=@plant.name%></h1>

<br><br>
<p>
<strong>Level:</strong> <%=@plant.care_level%><br>
<strong>Description:</strong> <%=@plant.description%><br><br>
<em>added by <%=@plant.user.username%></em>
</p>



<% if @plant.user == current_user %>
<h3><a href="/plants/<%=@plant.id%>/edit">Edit Plant</a></h3><br>


<form method="post" action="/plants/<%=@plant.id%>/delete">
  <input type="hidden" name="_method" id="hidden" value="delete">
  <input type="submit" value="Delete Plant">
</form>

<% end %>
