<h1><%=@plant.name%></h1>
<%=@plant.care_level%> level<br>
-----------------------------------------------------------------------
<br><br>
<p>
<%=@plant.description%><br><br>
ADDED BY: <%=@plant.user.username%></p>



<% if @plant.user == current_user %>
<a href="/plants/<%=@plant.id%>/edit">Edit Plant</a>


<form method="post" action="/plants/<%=@plant.id%>/delete">
  <input type="hidden" name="_method" id="hidden" value="delete">
  <input type="submit" value="Delete Plant">
</form>

<% end %>
